<div class= "results-page">
<!-- <div class= "hey"> -->


  <%= form_tag search_path, method: :get  do %>
  <div class= "form-group somethin"> 
    <%= link_to image_tag("doogle-search.png", :alt => "logo", class: "search-logo"), root_path %>     
    <%= text_field_tag :q, params[:q], class: "results-search form-control" %>
    <%= submit_tag "Search", class: "btn btn-info" %>
  </div>
  <% end %>
<!-- </div> -->
<nav class="navbar navbar-default oi">
  <div class= "navbar-header">
    <ul class= "nav navbar-nav">
      <li><%= link_to "Web", search_path(q: params[:q], page: @results) %></li>
      <li><%= link_to "Images", image_search_path(q: params[:q], page: @results) %></li>
  </div>
</nav>
<br />
  <div class= "results-body">

    <% if @results && !@results.items.empty? %>

    	<% @results.items.each do |item| %>
        <div class= "hotlink">   
      		<h4 class= "link_title"><%= link_to item.htmlTitle.html_safe, item.link %></h4>
          <p class= "url"><%=  item.link%></p> 
                
           	<% if item['pagemap'] && item['pagemap']['cse_thumbnail'] && img = item.pagemap.cse_thumbnail.first %>
                    
              <%#= image_tag(img.src, width: '200px') %>
              <%= item.htmlSnippet.html_safe %>
                    
            <% else %>
              <%= item.htmlSnippet.html_safe %>
            <% end %>
      </div>
           
      <% end %>
  </div>
        <div class= "pages">
     
          <% if @results.previous_page %>
            <%= link_to '<< Previous', search_path(q: params[:q], page: @results.previous_page)%>
          <% end %>

          <% @results.pages.times do |i| %>
            <%= link_to i + 1, search_path(q: params[:q], page: i+1) %>
          <% end %>
          
          <% if @results.next_page %>
            <%= link_to 'Next >>', search_path(q: params[:q], page: @results.next_page) %>
          <% end %>

        </div>
        
  <% else %>
    <h4>No results</h4>

  <% end %>

</div>